{% extends "contactsApp/layout.html" %}

{% block content %}



<div class="row">
    <div class="col-md-12">
        <h1>Welcome to these awesome App</h1>
        <p id="infolabel">Please go ahead and add your contacts or list existing contacts</p>
           <p>
              <a href="/list/" class="btn btn-success btn-lg">
                List users
              </a>
              <a href="/add/" class="btn btn-success btn-lg">
                Add user
              </a>
           </p>
</div>
    </div>

{% endblock %}